<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.tvmazesample.test">
    <!--suppress AndroidDomInspection -->
    <instrumentation>
        <!--suppress AndroidElementNotAllowed -->
        <meta-data
                android:name="notPackage"
                android:value="net.bytebuddy"/>
    </instrumentation>
</manifest>